In [ ]:
num1 = input("Enter the first Number")
num2 = input("Enter the second Number")
i = 0
for i in range(int(num1)):
    i += 1
    for j in range(int(num2)):
        j +=1
        print(i * j)

Reversing a string

In [ ]:
stringInput = input("Enter a string you want to reverse: ")
stringToReverse = []

for letter in stringInput:
    stringToReverse.append(letter)

stringToReverse.reverse()
print(''.join(stringToReverse))

Patternss

In [ ]:
num1 = input("Enter the first number in your pattern: ")
num2 = input("Enter the second number you want as your increment: ")
num3 = input("Enter the third number for the nth:")

num1 = 10
num2 = 2
num3 = 7

for element in range(int(num3)):
    num1 += int(num2)
    num2 += 2 
    print(num1)

subsets<?>

In [ ]:
univSet = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
G = [univSet[0], univSet[1], univSet[3]]
R = [univSet[1], univSet[4]]
E = [univSet[1], univSet[2], univSet[3]]
A = [univSet[1], univSet[3]]
T = [univSet[1], univSet[2]]

# print(G)
# print(R)
# print(E)
# print(A)
# print(T)

union1 = []
rComplement= []
union1 = [R.copy(), A.copy()]
intersection = [T.copy(), A.copy()]

#union of set R&A
for element in range(len(union1[0])):
    if union1[0][element] in union1[1]:
        union1[1].remove(union1[0][element])
        print("union of set R&A")
        print(union1)  
        print("")

# intersection of set A&T
for element in range(len(intersection[0])):
    if intersection[0][element] in intersection[1]:
        print("intersection of set A&T")
        print(intersection[0][element])
        print("")
# R complement
for element in range(len(R)):
    if R[element] in univSet:
        rComplement.append(R[element])
print("R complement")
print(rComplement)
print(len(rComplement))

binary tree

In [ ]:
class TreeNode:
    def __init__(self, key):
        self.val = key
        self.left = None
        self.right = None

class BinaryTree:
    def __init__(self):
        self.root = None

    def insert(self, key):
        if not self.root:
            self.root = TreeNode(key)
        else:
            self._insert_recursively(self.root, key)

    def _insert_recursively(self, node, key):
        if key < node.val:
            if node.left is None:
                node.left = TreeNode(key)
            else:
                self._insert_recursively(node.left, key)
        else:
            if node.right is None:
                node.right = TreeNode(key)
            else:
                self._insert_recursively(node.right, key)

    def inorder_traversal(self):
        result = []
        self._inorder_traversal_recursive(self.root, result)
        return result

    def _inorder_traversal_recursive(self, node, result):
        if node:
            self._inorder_traversal_recursive(node.left, result)
            result.append(node.val)
            self._inorder_traversal_recursive(node.right, result)

# Example usage:
tree = BinaryTree()
tree.insert(5)
tree.insert(3)
tree.insert(7)
tree.insert(1)
tree.insert(4)

print("Inorder traversal:", tree.inorder_traversal())  # Output: [1, 3, 4, 5, 7]

Trial analyshit?

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

csv_file = pd.read_csv('python_csv\\carbonEmission.csv')
counts = csv_file.value_counts()
csv_file['CO2(kg)'].astype('int32')
csv_file

                 Name  Flights  Kilometer  CO2(kg)
0           Elon Musk      163     426977  5755500
1          Bill Gates      147     425376  5733100
2    Floyd Mayweather      237     470613  5682100
3      Kim Kardashian      122     466881  5636800
4   Leonard Blavatnik      184     390225  5259000
5    Steven Spielberg      128     347916  4693800
6    Beyonce and JayZ      192     386842  4676100
7        Travis Scott      123     244920  4507400
8        George Lucas      120     355147  4289200
9         Tyler Perry      113     226519  4158900
10      Mark Wahlberg      155     291582  4112100
11         Jim Carrey      143     301736  3651500
12       Kylie Jenner      129     250699  3531100
13       Robert Kraft      185     231790  3126300
14         Jeff Bezos       96     229749  3097400
15         Marc Cuban      119     214647  3020400
16        Celine Dion       80     212986  2998800
17     Alex Rodriguez      125     236977  2860900
18      Jack Nicklaus      104     209012  2526500
19        James Dyson       71     181650  2448100