In [ ]:
print("Hello World")

USING MODULE BRO

In [ ]:
import os

# getting the current directory man
current_directory = os.getcwd()


#os.listdir() to get the list of items inside the directory
directory_items = os.listdir()

#os.makedirs() creates new folder

print(current_directory)
print(directory_items)

INTRO TO PANDAS

python pandas can handle complex computations
Python doesn't have limitations on size
has cross platform capabilities


#fundamental data structures in pandas
#1d array = series of data
#2d array = dataframes

#columns are called series = 1d array
#intersection of a row with column is called data
#column names are called features

#you can also use csv files as a dataframe

In [ ]:
#you can create data frames using arrays either 1d or 2d
import numpy as np
import pandas as pd

#2d array version using panda
dataframe = [[1,2],[3,4],[5,6]]
pandaDataFrame = pd.DataFrame(dataframe,index=['row1','row2','row3'], columns=['col1', 'col2'])
print(pandaDataFrame)

print('')

#making 2d array using numpy
dataframe2 = np.array([[1,2], [3,4], [5,6]])

#making dataframe using pandas
#pd.DataFrame(2dArray na ginawa, index=["rows"], columns=['columnName','columnName'])
pandaDataFrame2 = pd.DataFrame(dataframe2,index=['row1','row2','row3'], columns=['col1', 'col2'])
print(pandaDataFrame2)


#dictionaries keys as the column name and the element as the data. a dictionary can be a series
dict_dataframe = {'key1': 1, 'key2': 2}

#you can also use csv files as a dataframe


# making a dataframe from a dictionary bro
countries = ['South Korea', 'South Africa', 'Myanmar']
population = [51269185, 58558270, 53708320]

dataFrame_dict = {'Countries': countries, 'Population': population}
pandaDataFrame3 = pd.DataFrame(dataFrame_dict)
print()
print(pandaDataFrame3)
print()

CREATING DATA FRAME USING CSV FILE

use pd.read_csv() to read the whole csv file

use the .head() method to get the first 5 rows on the csv

In [ ]:
# import csv
# with open('D:\\63947\\Documents\GitHub\\First-Year-Assignments-Projects\\self-learning\\csv_project\\aral_pandas\\python_csv\\population_total.csv', 'r', newline='') as csvfile:
#         csv_reader = csv.reader(csvfile)



csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams.head()
csv_file_exams

DISPLAYING A DATAFRAME IN PANDAS

.head() method to get the first 5 rows, you can also add the number of datasets you would like to put: ie. .head(number of rows you want to show) it is also the same with .tail() method

.tail() to get the last 5 rows

you will use the .shape attribute to get the total number of rows 
result :  (rows, columns)

display n rows:
pd.set_option('display.max_rows', 1000)

In [ ]:
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

pd.set_option('display.max_rows', 1000)
csv_file_exams

PANDAS ATTRIBUTES, METHODS, FUNCTIONS

Attributes = values associated with an object(for example: variableName.columns)

Examples of attribute:
.shape
.index
.column = you get the name of the columns
.dtypes = to get the data type of the columns

Function = group of related statements that perform a specific task(for example: max(), min(), len()). A function is defined inside a class body


Methods: .head(), .info() to show the information of the dataframe

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams.dtypes

USING METHODS

Methods: .head(), .info() to show the information of the dataframe

.describe() for basic statistics of the dataframe

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams.describe()

USING FUNCTIONS

max() finding the highest value in the data frame
min() opposite of the max()
len() finding the total length of the data frame
type() obtaining the data type of the elements
round() rounding the values of the dataset

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

round(csv_file_exams)

SELECTING ONE COLUMN FROM A DATA FRAME

Ways:
select a column with brackets: example: dataFrameName['columnName']
type(dataFrameName['columnName']) to check the data type of the column

series: attributes and methods

In [2]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

# type(csv_file_exams['math score'])
csv_file_exams['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

selecting a column using .columnName Syntax 2

In [1]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

SELECTING TWO OR MORE COLUMNS


SELECT 2 COLUMNS USING dataFrameName[['columnName1', 'columnName2']]

In [15]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams[['gender', 'math score', 'reading score', 'writing score']].head(10)

   gender  math score  reading score  writing score
0  female          72             72             74
1  female          69             90             88
2  female          90             95             93
3    male          47             57             44
4    male          76             78             75
5  female          71             83             78
6  female          88             95             92
7    male          40             43             39
8    male          64             64             67
9  female          38             60             50

INSERTING A NEW COLUMN

1.1 ADDING A NEW COLUMN WITH A SCALAR VALUE

dataFrameName['newColumnName'] = value

1.2 ADDING A NEW COLUMN WITH AN ARRAY USING NUMPY

- import numpy
- create an array of 1000 elements - np.arange(0, 1000) = (first value, max value)
- dataFrameName['newColumnName'] = columnSize

- create random int values = np.random.randint(min value, max value, size=number of items)

create random float numbers = np.random.uniform(min value, max value, size)

- dataFrameName['newColumnName'] = put the random int values

- length of the array

In [17]:
import numpy as np
import pandas as pd
import random

csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

language_score = np.arange(0,1000)
random_scores = np.random.randint(1,100, size = 1000) 
csv_file_exams['language score'] = random_scores


csv_file_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,76
1,female,group C,some college,standard,completed,69,90,88,16
2,female,group B,master's degree,standard,none,90,95,93,46
3,male,group A,associate's degree,free/reduced,none,47,57,44,81
4,male,group C,some college,standard,none,76,78,75,91
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,34
996,male,group C,high school,free/reduced,none,62,55,55,56
997,female,group C,high school,free/reduced,completed,59,71,65,72
998,female,group D,some college,standard,completed,68,78,77,26
999,female,group D,some college,free/reduced,none,77,86,86,61

OPERATIONS ON DATA FRAMES

1.1 Operations in columns

select the column by dataFrameName['columnName'].sum() or 
variableName = sum(dataFrameName['columnName'])

count,mean,std,max and min:
dataFrameName['columnName'].count() = to know how many data
dataFrameName['columnName'].mean() = to know the average value
dataFrameName['columnName'].std() = to know the standard deviation
dataFrameName['columnName'].max() = to know the maximum value
dataFrameName['columnName'].min() = to know the minimum value
dataFrameName['columnName'].describe() = to summary for the statistical data

In [25]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

OPERATIONS IN ROWS

Calculating the sum in a row:
dataFrameName['columnName'] + dataFrameName['columnName'] + dataFrameName['columnName']

Calculating the average of 3 columns: 
csv_file_exams['mean scores']= (csv_file_exams['math score'] + csv_file_exams['reading score'] + csv_file_exams['writing score'])/3

In [36]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

# csv_file_exams['math score'] + csv_file_exams['reading score'] + csv_file_exams['writing score']
csv_file_exams['mean scores']= (csv_file_exams['math score'] + csv_file_exams['reading score'] + csv_file_exams['writing score'])/3

csv_file_exams.round(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,mean scores
0,female,group B,bachelor's degree,standard,none,72,72,74,72.67
1,female,group C,some college,standard,completed,69,90,88,82.33
2,female,group B,master's degree,standard,none,90,95,93,92.67
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.33
4,male,group C,some college,standard,none,76,78,75,76.33
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.00
996,male,group C,high school,free/reduced,none,62,55,55,57.33
997,female,group C,high school,free/reduced,completed,59,71,65,65.00
998,female,group D,some college,standard,completed,68,78,77,74.33
999,female,group D,some college,free/reduced,none,77,86,86,83.00

VALUE COUNTS METHOD

to count by category:
dfName['columnName'].value_counts()

to count the relative frequency/ percentage:
dfName['columnName'].value_counts(normalize=True)

In [39]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams['race/ethnicity'].value_counts(normalize=True)

race/ethnicity
group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: proportion, dtype: float64