In [ ]:
print("Hello World")

USING MODULE BRO

In [ ]:
import os

# getting the current directory man
current_directory = os.getcwd()


#os.listdir() to get the list of items inside the directory
directory_items = os.listdir()

#os.makedirs() creates new folder

print(current_directory)
print(directory_items)

INTRO TO PANDAS

python pandas can handle complex computations
Python doesn't have limitations on size
has cross platform capabilities


#fundamental data structures in pandas
#1d array = series of data
#2d array = dataframes

#columns are called series = 1d array
#intersection of a row with column is called data
#column names are called features

#you can also use csv files as a dataframe

In [ ]:
#you can create data frames using arrays either 1d or 2d
import numpy as np
import pandas as pd

#2d array version using panda
dataframe = [[1,2],[3,4],[5,6]]
pandaDataFrame = pd.DataFrame(dataframe,index=['row1','row2','row3'], columns=['col1', 'col2'])
print(pandaDataFrame)

print('')

#making 2d array using numpy
dataframe2 = np.array([[1,2], [3,4], [5,6]])

#making dataframe using pandas
#pd.DataFrame(2dArray na ginawa, index=["rows"], columns=['columnName','columnName'])
pandaDataFrame2 = pd.DataFrame(dataframe2,index=['row1','row2','row3'], columns=['col1', 'col2'])
print(pandaDataFrame2)


#dictionaries keys as the column name and the element as the data. a dictionary can be a series
dict_dataframe = {'key1': 1, 'key2': 2}

#you can also use csv files as a dataframe


# making a dataframe from a dictionary bro
countries = ['South Korea', 'South Africa', 'Myanmar']
population = [51269185, 58558270, 53708320]

dataFrame_dict = {'Countries': countries, 'Population': population}
pandaDataFrame3 = pd.DataFrame(dataFrame_dict)
print()
print(pandaDataFrame3)
print()

CREATING DATA FRAME USING CSV FILE

use pd.read_csv() to read the whole csv file

use the .head() method to get the first 5 rows on the csv

In [ ]:
# import csv
# with open('D:\\63947\\Documents\GitHub\\First-Year-Assignments-Projects\\self-learning\\csv_project\\aral_pandas\\python_csv\\population_total.csv', 'r', newline='') as csvfile:
#         csv_reader = csv.reader(csvfile)



csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams.head()
csv_file_exams

DISPLAYING A DATAFRAME IN PANDAS

.head() method to get the first 5 rows, you can also add the number of datasets you would like to put: ie. .head(number of rows you want to show) it is also the same with .tail() method

.tail() to get the last 5 rows

you will use the .shape attribute to get the total number of rows 
result :  (rows, columns)

display n rows:
pd.set_option('display.max_rows', 1000)

In [ ]:
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

pd.set_option('display.max_rows', 1000)
csv_file_exams

PANDAS ATTRIBUTES, METHODS, FUNCTIONS

Attributes = values associated with an object(for example: variableName.columns)

Examples of attribute:
.shape
.index
.column = you get the name of the columns
.dtypes = to get the data type of the columns

Function = group of related statements that perform a specific task(for example: max(), min(), len()). A function is defined inside a class body


Methods: .head(), .info() to show the information of the dataframe

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams.dtypes

USING METHODS

Methods: .head(), .info() to show the information of the dataframe

.describe() for basic statistics of the dataframe

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams.describe()

USING FUNCTIONS

max() finding the highest value in the data frame
min() opposite of the max()
len() finding the total length of the data frame
type() obtaining the data type of the elements
round() rounding the values of the dataset

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

round(csv_file_exams)

SELECTING ONE COLUMN FROM A DATA FRAME

Ways:
select a column with brackets: example: dataFrameName['columnName']
type(dataFrameName['columnName']) to check the data type of the column

series: attributes and methods

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

# type(csv_file_exams['math score'])
csv_file_exams['math score']

selecting a column using .columnName Syntax 2

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams.gender

SELECTING TWO OR MORE COLUMNS


SELECT 2 COLUMNS USING dataFrameName[['columnName1', 'columnName2']]

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams[['gender', 'math score', 'reading score', 'writing score']].head(10)

INSERTING A NEW COLUMN

1.1 ADDING A NEW COLUMN WITH A SCALAR VALUE

dataFrameName['newColumnName'] = value

1.2 ADDING A NEW COLUMN WITH AN ARRAY USING NUMPY

- import numpy
- create an array of 1000 elements - np.arange(0, 1000) = (first value, max value)
- dataFrameName['newColumnName'] = columnSize

- create random int values = np.random.randint(min value, max value, size=number of items)

create random float numbers = np.random.uniform(min value, max value, size)

- dataFrameName['newColumnName'] = put the random int values

- length of the array

In [ ]:
import numpy as np
import pandas as pd
import random

csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

language_score = np.arange(0,1000)
random_scores = np.random.randint(1,100, size = 1000) 
csv_file_exams['language score'] = random_scores


csv_file_exams

OPERATIONS ON DATA FRAMES

1.1 Operations in columns

select the column by dataFrameName['columnName'].sum() or 
variableName = sum(dataFrameName['columnName'])

count,mean,std,max and min:
dataFrameName['columnName'].count() = to know how many data
dataFrameName['columnName'].sum() = to add all the data 
dataFrameName['columnName'].mean() = to know the average value
dataFrameName['columnName'].std() = to know the standard deviation
dataFrameName['columnName'].max() = to know the maximum value
dataFrameName['columnName'].min() = to know the minimum value
dataFrameName['columnName'].describe() = to summary for the statistical data

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams.describe()

OPERATIONS IN ROWS

Calculating the sum in a row:
dataFrameName['columnName'] + dataFrameName['columnName'] + dataFrameName['columnName']

Calculating the average of 3 columns: 
csv_file_exams['mean scores']= (csv_file_exams['math score'] + csv_file_exams['reading score'] + csv_file_exams['writing score'])/3

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

# csv_file_exams['math score'] + csv_file_exams['reading score'] + csv_file_exams['writing score']
csv_file_exams['mean scores']= (csv_file_exams['math score'] + csv_file_exams['reading score'] + csv_file_exams['writing score'])/3

csv_file_exams.round(2)

VALUE COUNTS METHOD

to count by category:
dfName['columnName'].value_counts()

to count the relative frequency/ percentage:
dfName['columnName'].value_counts(normalize=True)

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams['race/ethnicity'].value_counts(normalize=True)

SELF TRIAL

In [ ]:
import pandas as pd
csv_file = pd.read_csv('python_csv\\tallying_research.csv')

pd.set_option('display.max_rows', 113)
csv_file

HOW TO DELETE A COLUMN
.drop() method
.dropna(inplace=True) method = drops rows that has NaN values in it
df.drop(columns=columns_to_delete, inplace=True) = drops a column

In [ ]:
import pandas as pd
csv_file = pd.read_csv('python_csv\\tallying_research.csv')


csv_file.drop(columns=['Grade, Strand & Section', 'Timestamp'], inplace=True)
csv_file.dropna(inplace=True)
csv_file

# csv_file

OPERATIONS ON DATAFRAMES

Select a row and calculate total sum
csv_file_exams['ColumnName'].sum()

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')

csv_file_exams['math score'].describe()

Sort a data frame

df.sort_values(by='columnName') = sorts the values in ascending order

df.sort_values(by='columnName', ascending = False) = sorts the values in descending order

df.sort_values(['columnName1', 'ColumnName2']) = sorts multiple values in ascending order

inplace=True => updates the values of the dataframe

In [ ]:
import pandas as pd
csv_file_exams = pd.read_csv('python_csv\\StudentsPerformance.csv')
csv_file_exams.pivot()

# csv_file_exams.sort_values(['math score', 'reading score', 'writing score'], ascending=False)

How to make PIVOT TABLES

import pandas as pd
csv_fileou = pd.read_csv('python_csv\\gdp.csv', encoding='ISO-8859-1')

index = the index of the df
columns = the column names
values = what u want to see in the dataframe

the index,columns and the values you will use should be in your csv

csv_fileou.pivot(index='year', columns='country', values="gdppc")

In [26]:
import pandas as pd
csv_fileou = pd.read_csv('python_csv\\gdp.csv', encoding='ISO-8859-1')

csv_fileou.pivot(index='year', columns='country', values="gdppc")

country,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Australia,Austria,Bahrain,Bangladesh,...,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
year,,,,,,,,,,,,,,,,,,,,,
1880,585.46509,522.00000,819.18604,533.66669,1731.500,1041.0000,4285.000,2079.000,811.76746,566.66669,...,1041.0000,811.76746,3477.000,3184.000,2082.0000,653.000,556.62793,811.76746,533.66669,533.66669
1890,635.93024,598.00000,923.37207,567.33331,2152.000,1139.0000,4458.000,2443.000,881.53491,587.33331,...,1139.0000,881.53491,4009.000,3392.000,2147.0000,737.000,608.25580,881.53491,567.33331,567.33331
1900,686.39532,685.00000,1027.55810,601.00000,2756.000,1237.0000,4013.000,2882.000,951.30231,608.00000,...,1237.0000,951.30231,4492.000,4091.000,2219.0000,821.000,659.88373,951.30231,601.00000,601.00000
1910,736.86047,780.00000,1131.74410,628.69232,3822.000,1430.0769,5210.000,3290.000,1021.06980,661.84613,...,1430.0769,1021.06980,4611.000,4964.000,3136.0000,886.000,711.51166,1021.06980,628.69232,628.69232
1920,731.75677,861.31250,1201.21620,682.62964,3473.000,1432.9333,4766.000,2412.000,1242.91890,651.89191,...,1432.9333,3833.67580,4548.000,5552.000,2674.0000,1173.000,713.94592,1017.21620,682.62964,682.62964
1930,702.83783,929.57141,1255.81080,747.81482,4080.000,1448.0000,4708.000,3586.000,1529.94590,614.59460,...,1448.0000,7821.78370,5441.000,6213.000,4301.0000,3444.000,695.29730,981.81079,747.81482,747.81482
1940,673.91895,965.28571,1310.40540,813.00000,4161.000,2144.0000,6166.000,3959.000,1816.97300,577.29730,...,2144.0000,11809.89200,6856.000,7010.000,3661.0000,4045.000,676.64862,946.40540,813.00000,813.00000
1950,645.00000,1001.00000,1365.00000,1052.00000,4987.000,2841.0000,7412.000,3706.000,2104.00000,540.00000,...,2841.0000,15798.00000,6939.000,9561.000,4659.0000,7462.000,658.00000,911.00000,661.00000,701.00000
1960,739.00000,1451.00000,2088.00000,1253.00000,5559.000,3945.0000,8791.000,6519.000,2843.00000,545.00000,...,3945.0000,22433.00000,8645.000,11328.000,4960.0000,9646.000,799.00000,964.00000,960.00000,938.00000
1970,709.00000,2004.00000,2249.00000,1768.00000,7302.000,5575.0000,12024.000,9747.000,3788.00000,630.00000,...,5575.0000,24552.00000,10767.000,15030.000,5184.0000,10672.000,735.00000,1230.00000,1073.00000,1282.00000
1980,690.00000,2347.00000,3152.00000,961.00000,8206.000,6116.5884,14412.000,13759.000,4388.00000,549.00000,...,5378.1763,27709.00000,12931.000,18577.000,6555.0000,10139.000,757.00000,2290.00000,911.00000,1295.00000
1990,604.00000,4557.40820,10238.88400,4806.43020,10833.503,3735.5432,28572.076,31265.287,35112.55500,1290.43100,...,10463.9600,114518.83000,26769.357,37062.129,9840.7266,14450.682,1501.13890,3353.78930,2308.60380,2526.07230
2000,565.00000,5470.01760,10211.10400,3831.00000,14924.374,2918.5576,35244.504,38812.051,44791.52000,1645.71730,...,4797.3804,107206.46000,32961.527,45986.051,12874.7760,14417.104,2649.71950,3911.21970,2092.25510,2521.34740
2010,1662.80350,9927.17580,12898.29600,6492.17680,18794.270,6507.9146,41363.215,43174.977,39912.69500,2451.30520,...,7824.4985,57406.73800,36195.867,49372.832,17082.4100,16563.396,4486.26120,4481.55470,3263.39480,1388.97300